.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 700px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: wrap;
}

.stack {
  display: grid;
  gap: 2rem;
}
